.pinterest-image {
  position: relative;
}
.hover-pinterest {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  background-image: url('../../../img/pinterest.png');
  background-position: 95% 10%;
  background-repeat: no-repeat;
  display: none;
}
.pin-it-link {
  height: 100%;
  width: 100%;
  display: block;
}
